<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.desafiozup">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@drawable/ic_logo_zup"
        android:label="@string/login_app_name"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".presentation.splashscreen.SplashScreenActivity" android:launchMode="singleTop" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.authentication.ui.AuthenticationActivity"
            android:exported="false" android:screenOrientation="portrait"/>

        <activity
            android:name=".presentation.home.ui.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
